<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <title>Raspi control</title>
  </head>
  <body>
    <h3 class="text-center">Raspi iot</h3>
    <br>
    <div class="container">
    <table class="table table-hover table-responsive text-center">
      <tr>
        <td>FOCO 1</td>
        <td><form action="ledon/red" method="post">
          <input type="submit" name="redled" value="ON" class="btn btn-success">
        </form></td>
        <td><form action="ledoff/red" method="post">
          <input type="submit" name="redled" value="OFF" class="btn btn-danger">
        </form></td>
      </tr>
      <tr>
        <td>VENTILADOR</td>
        <td><form action="ledon/green" method="post">
          <input type="submit" name="greenled" value="ON" class="btn btn-success">
        </form></td>
        <td><form action="ledoff/green" method="post">
          <input type="submit" name="greenled" value="OFF" class="btn btn-danger">
        </form></td>
      </tr>
      <tr>
        <td>OTRO XD</td>
        <td><form action="ledon/yellow" method="post">
          <input type="submit" name="yellowled" value="ON" class="btn btn-success">
        </form></td>
        <td><form action="ledoff/yellow" method="post">
          <input type="submit" name="yellowled" value="OFF" class="btn btn-danger">
        </form></td>
      </tr>
    </table>

    <table class="table table-hover table-responsive text-center">
      <th colspan="2" class="text-center">Sensores Raspi</th>
      <tr>
        <td>Temperatura CPU: </td><td>{{cpu}}</td>
      </tr>
      <tr>
        <td>Temperatura GPU: </td><td>{{gpu}}</td>
      </tr>
    </table>
    </div>

			<!-- Footer -->
			<footer class="container-fluid bg-4 text-center">
        <div class="panel panel-info">
      <div class="panel-heading">&copy; Powered by: Luis Rangel & Esteban Perera</div>
      <div class="panel-body">Build on Python (flask) & IBM IOT to work on Raspberry Pi</div>
    </div>
			</footer>

	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
